/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* root */
:root {
  --header-height: 2.5rem;
  --black-color: hsl(222, 11%, 23%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 99%);
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;
  --font-semi-bold: 400;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav-logo,
.nav_burger,
.nav_close {
  color: var(--white-color);
}

.nav__all {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}
/* Maintain the aspect ratio */
.nav-logo img {
  width: 100px;
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add some spacing */
}
.navbar-toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

/* nav burger */

.nav_burger,
.nav_close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav_close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 3.5rem;
    width: 100%;
    height: calc(100vh - 2.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.2s;
  }

  .nav-list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav-link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.1s;
}

.nav-link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.change-icon .nav_burger {
  opacity: 0;
  transform: rotate(90deg);
}

.change-icon .nav_close {
  opacity: 1;
  transform: rotate(90deg);
}

/* DROPDOWN added  */
.dropdown-item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.9s;
}
/* DROPDOWN link style added  */
.dropdown_link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.9s;
}

.dropdown_link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown_link:hover {
  background-color: var(--black-color);
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Show dropdown menu */
.dropdown-item:hover .dropdown-menu,
.dropdown-branchItem:hover > .dropdown__submenu {
  max-height: 200px;
  transition: max-height 0.9s ease-out;
}

/* Rotate dropdown icon */
.dropdown-item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
    padding: 4px;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav-link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }

  .nav-link:hover {
    background-color: transparent;
  }

  .dropdown-item,
  .dropdown-branchItem {
    position: relative;
  }

  .dropdown-menu {
    max-height: initial;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s, top 5s;
  }

  .dropdown_link {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown-branchItem .dropdown_link {
    padding-inline: 1rem;
  }

  /* Show dropdown menu */
  .dropdown-item:hover .dropdown-menu {
    opacity: 2;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.5s;
  }
}
